/* newsletter */
.flexRow--newsletter {
    background-color: #F2F2F2;
    padding: 2rem 0;
    font-family: "LatoBold", sans-serif;
}

/* footer */
.flexRow--footer {
    background: black;
    padding: 2rem 0;
}

.flexCol--footerLinks {
    justify-content: center;
    gap: 1rem;
}
.flexColChild--footerLinks {
    height: auto!important;
    display: flex;
}

.flexRow--footerCopyRights {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.flexRowContent--footerCopyRights {
    width: 200px;
}

/* product page */
.flexColChild--productPagePrice :global(.vtex-product-price-1-x-listPrice) {
    color: #c0c0c0;
}
.flexColChild--productPagePrice :global(.vtex-product-price-1-x-sellingPrice) {
    font-size: 2rem;
    font-weight: 700;
}
.flexColChild--productPagePrice :global(.vtex-product-price-1-x-savings) {
    color: green;
}
.flexColChild--productPagePrice :global(.vtex-product-price-1-x-installments) {
    font-size: .8rem;
}

@media screen and (max-width: 576px) {
    .flexCol--footerLinks {
        margin-top: 2rem;
    }
    .flexRow--footerCopyRights {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flexRowContent--footerCopyRights {
        display: flex;
        justify-content: center;
    }
}