.input--newsletterFormInput, .hideDecorators--newsletterFormInput, .noAppearance--newsletterFormInput {
    border: none;
    font-family: "LatoBold", sans-serif;
}
.input::placeholder {
    font-size: 12px;
}