.heading--carousel {
    font-size: 20px;
    margin-bottom: .5rem;
}

.wrapper--line {
    width: 65px;
    border-bottom: thick solid #c0c0c0;
}

.headingLevel4--newsletterTitle {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.container--footer, .link--footerAddress {
    color: white;
    font-size: 11px;
    text-decoration: none;
}

.heading--footerTitle {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.paragraph--footerAddress {
    font-size: 13px;
    margin-bottom: 0;
}

.wrapper--lineFooter {
    width: 44px;
    border-bottom: thick solid white;
} 

.image--footerCopyRightCreated {
    width: 76px;
}
.image--footerCopyRightPowered {
    width: 52px;
}