.formSubmitContainer--newsletterButton :global(.vtex-button) {
    width: 100%;
    font-size: 14px;
    text-transform: inherit
}

.newsletterForm--newsletterForm {
    display: flex;
    justify-content: center;
    gap: .5rem;
}
.nameInputContainer--newsletterFormInput :global(.vtex-input-prefix__group), 
.emailInputContainer--newsletterFormInput :global(.vtex-input-prefix__group), 
.formSubmitContainer--newsletterFormInput :global(.vtex-input-prefix__group) {
    width: 280px;
    border: none;
}
.formSubmitContainer {
    width: 140px;
}

@media screen and (max-width: 576px){
    .newsletterForm--newsletterForm {
        flex-direction: column;
        align-items: stretch;
    }
    .nameInputContainer--newsletterFormInput :global(.vtex-input-prefix__group), 
    .emailInputContainer--newsletterFormInput :global(.vtex-input-prefix__group), 
    .formSubmitContainer--newsletterFormInput :global(.vtex-input-prefix__group),
    .formSubmitContainer {
        width: 100%;
    }
}