@font-face {
  font-family: "Nunito";
  src: url(assets/fonts/Nunito.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "NunitoBold";
  src: url(assets/fonts/Nunito-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "NunitoExtraBold";
  src: url(assets/fonts/Nunito-ExtraBold.ttf);
  font-weight: 800;
}
